/* Make the Filter quick link omni-present */


/* undo hiding for filter main anchor element when it's "hide" class is enabled */
/*.js-filter-cards-indicator.hide > .u-text-underline {*/
.js-filter-cards-indicator.hide {
    display: unset !important;
    /*background: rgba(0,0,0,.5) !important;
    opacity: 0.25 !important;*/
    background: transparent !important;
}

/* Then, hide "filtering results" text while filter is not enabled */
.js-filter-cards-indicator.hide > .u-text-underline {
    /*display: none !important; */
    visibility: hidden;
    text-decoration: unset;
}
/* And add a funnel/filter icon */
.js-filter-cards-indicator.hide > .u-text-underline:after {
    /* content: '🔍 Search' !important; */
    content:'\00a0\00a0\00a0'; /*&nbsp's to set the width*/
    visibility: visible;
    padding: 5px;

    background-repeat:no-repeat;
    background-position: center center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAABcElEQVQ4y62UzyvDYRzH3893X8pkYweZHMRhttyUEskfsMVB7Kb8BQ4u80/sopTLQnKQtJIfBxKaHyWL0xycODhISdSol8PWbLPvTHme0/P+vN/P59P7+Xweg1c+GdW20JPhTq1/EDzaWtKcktrS2y9kt8Ia1bLwsswDo7TQUGU3E+aeNbyS6OSQM/qpc6zEpo8UJ3TljhYDXJIkhFWRbtHDBmmGCnHqGeeahfwN5YJO5rkhSn0x2MQMaWL4f9D9xLhiFk95oI04KabxlaDNTJEiTnul1EFW2GOMxgLiJsIuqwSd3Bhkiw1Gcn5hM8w62wxT9LClvpwroRZNKiBJCmhSPiV0anAQmE/t6Ugh5UoIqVfH2jEfxZwy582rMsrKnW+GrDLmtZRhVekeI4ly0NIf178Lai8JS3alwbIr58WjdnXLpWwtAksdimpCXTrQ7e9jG+WCZ+7ZJPLdVdUyvOhZ+1rUsXmv7WMw1OFyjn8BvFG2F0BhwNkAAAAASUVORK5CYII=);
}

/* And also hide close filter button icon if filter is not enabled */
.js-filter-cards-indicator.hide > .js-filter-card-clear {
    display: none !important;
}
